@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Navbar - Slide in from LEFT */
@keyframes slideInLeft {
  0% {
    /* Start position: completely off-screen to the left */
    transform: translateX(-100%);
  }
  100% {
    /* End position: in its final place */
    transform: translateX(0);
  }
}

/* Class to apply the animation */
.slide-in-left {
  animation: slideInLeft 0.3s ease-out forwards;
}
